@import '../common';

.header-container {

  @include sm {
    background-image: url('../utils/img/bg-header-mobile.svg');
  }
  @include lg {
    background-image: url('../utils/img/bg-header-desktop.svg');
    background-size: 100% 100%;
    width: 100vw;
    height: 10vh;
    color: purple;
  }
  background-color: $primary;
}
